---
name: Check
on:
  push:
    branches:
      - master
      - feature/*
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 8 * * *"
jobs:
  Build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go:
          - "~1.25.0"
          - "~1.24.0"
        may-fail:
          - false
    continue-on-error: ${{ matrix.may-fail }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: "${{ matrix.go }}"
          check-latest: true
      - run: go version
      - run: make swaggerUI
      - run: go build -v ./...
      - run: go test -race -parallel 4 -timeout 30s -v ./...
  Format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: |
          unformatted=$(gofmt -l .)
          if [[ ! -z "$unformatted" ]]; then
            echo "Files need formatting!"
            gofmt -w .
            git diff
            exit 1
          fi
  Staticcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - run: make swaggerUI
      - uses: dominikh/staticcheck-action@v1
        with:
          version: "2025.1.1"
  Vet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: make swaggerUI
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: go vet ./...
